#about {
  background-color: var(--dark-tan);
  color: var(--dark-gray);
  padding: 100px 200px;
  text-align: left;
}

#about h1 {
  font-size: 40px;
  font-family: "Kefa-Regular", cursive;
}

#about h3 {
  font-size: 20px;
  font-family: "Montserrat", serif;
}

.col-3 img {
  width: 200px;
}

@media (max-width: 1300px) {
  #about {
    padding: 50px;
  }

  #image-column {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  #image-column img {
    min-width: 100%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .col-9 {
    min-width: 100%;
    max-width: 100%;
  }

  .col-9 h3 {
    text-overflow: ellipsis;
  }
}

@media (max-width: 850px) {
  #image-column img {
    min-width: 100%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
  }

  #about h1 {
    font-size: 30px;
  }
}
