#contact {
  background-color: var(--dark-tan);
  width: 100%;
}

#contact-title {
  position: absolute;
  top: 61px;
  width: 100%;
  height: 251px;
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
  padding: 100px;
}

#contact-title h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Kefa-Regular", cursive;
  color: white;
}

#contact h3 {
  font-size: 20px;
  font-family: "Montserrat", serif;
}

#contact h2 {
  font-size: 15px;
  font-family: "Montserrat", serif;
  margin: 10px;
  font-style: italic;
}

.contact-section {
  padding: 50px;
}

#contact-cover {
  width: 900px;
  height: 250px;
  object-fit: cover;
  object-position: 0 -200px;
}

@media (max-width: 900px) {
  #contact-cover {
    min-width: 100vw;
    max-width: 100vw;
    object-position: 0 0;
  }
}
