#gallery {
  background-color: var(--dark-gray);
  padding: 100px 250px;
}

.gallery-single-image {
  width: 250px;
  padding: 10px;
  margin: 0px;
}

.gallery-single-image:hover {
  cursor: pointer;
  opacity: 80%;
}

#photo-page {
  background-color: var(--dark-gray);
  padding: 100px 200px;
}

#photo-title {
  font-size: 30px;
  color: white;
  font-family: "Kefa-Regular", cursive;
  margin: 40px;
}

#photo-category {
  font-size: 15px;
  color: white;
  font-family: "Montserrat", serif;
}

#full-image {
  width: 600px;
}

#back-button {
  position: absolute;
  top: 120px;
  left: 100px;
}

#loading {
  padding: 500px;
}
