#gallery-page {
  width: 100%;
  overflow: hidden;
}

#gallery-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#gallery {
  background-color: var(--dark-gray);
  padding: 100px 250px;
}

.gallery-single-image {
  width: 250px;
  padding: 10px;
  margin: 0px;
}

.gallery-single-image:hover {
  cursor: pointer;
  opacity: 80%;
}

#photo-page {
  background-color: var(--dark-gray);
  padding: 100px 200px;
}

#photo-title {
  font-size: 30px;
  color: white;
  font-family: "Kefa-Regular", cursive;
  margin: 40px;
}

#photo-category {
  font-size: 15px;
  color: white;
  font-family: "Montserrat", serif;
}

#full-image {
  width: 600px;
}

#back-button {
  position: absolute;
  top: 120px;
  left: 100px;
}

#loading {
  padding: 500px;
}

@media (max-width: 1030px) {
  #gallery {
    padding: 50px;
    overflow: hidden;
  }
}

@media (max-width: 725px) {
  #gallery {
    margin-top: 50px;
    padding: 20px;
  }

  .gallery-single-image {
    width: 80vw;
    padding: 0px;
    margin-bottom: 20px;
  }

  #gallery-cover {
    display: block;
  }
}
