#services {
  background-color: var(--dark-tan);
}

#services-title {
  position: absolute;
  top: 61px;
  width: 100%;
  height: 251px;
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
  padding: 70px;
}

#services-title h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Kefa-Regular", cursive;
  color: white;
}

#services-title h2 {
  color: white;
}

.service-header {
  font-family: "Kefa-Regular", cursive;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

.service-box {
  padding: 20px;
  outline: 1px var(--dark-gray) solid;
  box-shadow: 2px 2px rgba(36, 35, 35, 0.432);
  margin: 5px;
  font-family: "Montserrat", serif;
}

.single-service {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 500px;
}

.service-single-picture {
  width: 300px;
  margin: 30px;
}

.service-display-picture {
  max-width: 100px;
  min-width: 100px;
}

.service-list {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.service-title {
  font-size: 22px;
  font-weight: bold;
}

.service-price {
  font-size: 18px;
  font-weight: bold;
}

.service-description {
  font-size: 15px;
}

.header-images {
  width: 40vw;
  object-fit: cover;
}

#services-cover {
  width: 900px;
  height: 250px;
  object-fit: cover;
  object-position: 0 -480px;
}

#bear-image {
  margin: 20px;
}

.notice {
  font-family: "Montserrat", serif;
  font-style: italic;
  margin: 15px;
}

#questions {
  font-family: "Montserrat", serif;
  margin: 18px;
  font-weight: bold;
}

.notice-2 {
  font-family: "Montserrat", serif;
  font-style: italic;
}

@media (max-width: 900px) {
  #services-cover {
    min-width: 100vw;
    max-width: 100vw;
    object-position: 0 -90px;
  }
}
