@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://www.webfontfree.com/en/download/Kefa-Regular");

:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #7e837c;
  background-color: #181c1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-gray: #181c1f;
  --tan: #959597;
  --dark-tan: #57585a;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

.container {
  font-family: "Montserrat", serif;
}

.page {
  margin-top: 62px;
}
